<!DOCTYPE html>
<html lang="en">
<%- include ('./patials/head') %>
<body style="background-image: url('https://pbs.twimg.com/amplify_video_thumb/1010946076902293506/img/3wqJP6Lr6uh4uCL0.jpg:large');background-size: cover;">

    <div style="display: flex; justify-content: space-around;margin-top: 50px; margin-bottom: 50px;">
        <div class="card" style="width: 30vw">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://avatars.githubusercontent.com/u/87697583?v=4" alt="Placeholder image">
              </figure>
            </div> 
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/87697583?v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Total Players</p>
                  <p class="subtitle is-6"style="font-weight: bold;" ><%= totalPlayers %></p>
                </div>
              </div>
          
              <div class="content">
                Football legends with spectacular scenes and glory for the country
              </div>
            </div>
          </div>
          <!-- ------------ -->
          <div class="card" style="width: 30vw;">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://avatars.githubusercontent.com/u/87697583?v=4" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/87697583?v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Total Nations</p>
                  <p class="subtitle is-6" style="font-weight: bold;"><%= totalNations %></p>
                </div>
              </div>
          
              <div class="content" >
                A collection of countries where talented and enthusiastic players are trained.
              </div>
            </div>
          </div>
          <!-- --------- -->
          <div class="card" style="width: 30vw;">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="https://avatars.githubusercontent.com/u/87697583?v=4" alt="Placeholder image">
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://avatars.githubusercontent.com/u/87697583?v=4" alt="Placeholder image">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Total Users</p>
                  <p class="subtitle is-6" style="font-weight: bold;"><%= totalUsers %></p>
                </div>
              </div>
          
              <div class="content">
                You are a football enthusiast ? You do not know about the players?
                Let us help you - The leading prestigious football website from Asia.
                A collection of users who are "addicted" to mistakenly "Love" football with intense passion.
              </div>
            </div>
          </div>
    </div>
</body>
<%- include ('./patials/footer') %>
</html>